/* -- Global rules -- */
* {
  border: none;
  font-family: "FiraCode Nerd Font";
  font-size: 12px;
  min-height: 8px;
}

window#waybar {
  background: rgba(34, 36, 54, 0.2);
}

window#waybar.hidden {
  opacity: 0.1;
}

/* - Genera rules for visible modules -- */
#custom-archicon,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#idle_inhibitor,
#pulseaudio,
#pulseaudio_slider,
#network,
#battery,
#language {
  /* background-color: #161320; */
  background: rgba(34, 36, 54, 0.75);
  margin-top: 5px;
  margin-bottom: 5px;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  padding: 0px 12px;
  transition: background 0.3s ease;
  border-radius: 3px;
}

#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#idle_inhibitor:hover,
#pulseaudio:hover,
#pulseaudio_slider:hover,
#network:hover,
#battery:hover,
#language:hover,
#clock:hover {
  background: rgba(34, 36, 54, 1);
}

/* Separation to the left */
#pulseaudio,
#custom-archicon,
#idle_inhibitor {
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Separation to the rigth */
#clock,
#temperature,
#language {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* -- Specific styles -- */

/* Modules left */
#custom-archicon {
  font-size: 16px;
  color: #89b4fa;
  background: #161320;
  padding-right: 17px;
}

#clock {
  color: #abe9b3;
}

#cpu {
  color: #96cdfb;
}

#memory {
  color: #ddb6f2;
}

#disk {
  color: #f5c2e7;
}

#temperature {
  color: #f8bd96;
}

/* Modules center */
#workspaces {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  /* color: #b5e8e0; */
  color: #566;
  background: transparent;
  padding: 4px 4px;
  transition:
    color 0.3s ease,
    text-shadow 0.3s ease,
    transform 0.3s ease;
}

#workspaces button.occupied {
  color: #a6e3a1;
}

#workspaces button.active {
  color: #99b4ff;
  text-shadow: 0 0 3px #abe9b3;
}

#workspaces button:hover {
  color: #89b4fa;
}

#workspaces button.active:hover {
}

/* Modules right */
#taskbar {
  background: transparent;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 6px 5px;
}

#taskbar button {
  background: rgba(0, 0, 0, 0.1);
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 10px;
  transition: background 0.3s ease;
}

#taskbar button.active {
  background: rgba(0, 0, 0, 0.1);
}

#taskbar button:hover {
  background: rgba(34, 36, 54, 0.5);
}

#idle_inhibitor {
  color: #b5e8e0;
  padding-right: 15px;
}

#pulseaudio {
  /* color: #1a1826; */
  color: #f5e0dc;
}

#pulseaudio_slider {
  /* color: #1a1826; */
  color: #e8a2af;
}

#network {
  color: #cba6f7;
  padding-right: 13px;
}

#language {
  color: #a6e3a1;
  padding-right: 15px;
}

/* === Optional animation === */
@keyframes blink {
  to {
    background-color: #aaa;
  }
}

#battery {
  color: #96cdfb;
}

#battery.charging,
#battery.plugged {
  color: #f5ef88;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #000;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
